In [2]:
import pandas as pd
import numpy as np

In [3]:
company=["A","B","C"]
data=pd.DataFrame({
    "company":[company[x] for x in np.random.randint(0,len(company),10)],
    "salary":np.random.randint(5,50,10),
    "age":np.random.randint(15,50,10)
}
)

In [5]:
print(data)

  company  salary  age
0       A      44   40
1       B       5   34
2       C      43   26
3       B      42   23
4       A      19   46
5       C      44   49
6       B       8   46
7       A      25   23
8       A      36   43
9       A      28   48

In [6]:
group = data.groupby(by="company")

In [8]:
print(list(group))

[('A',   company  salary  age
0       A      44   40
4       A      19   46
7       A      25   23
8       A      36   43
9       A      28   48), ('B',   company  salary  age
1       B       5   34
3       B      42   23
6       B       8   46), ('C',   company  salary  age
2       C      43   26
5       C      44   49)]

In [11]:
group2 = data.groupby(by="company")['company']

In [12]:
print(list(group2))

[('A', 0    A
4    A
7    A
8    A
9    A
Name: company, dtype: object), ('B', 1    B
3    B
6    B
Name: company, dtype: object), ('C', 2    C
5    C
Name: company, dtype: object)]

In [19]:
group3 = data.groupby(by="company").agg('count')
print(group3)

         salary  age
company
A             5    5
B             3    3
C             2    2